@import './base.css';

#app {
  max-width: 1280px;
  margin: 0;
  padding: 1rem;
  font-weight: normal;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--night-owl-accent);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(127, 219, 202, 0.1);
  }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
